<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="googlechrome" />
    <package id="microsoft-teams" />
    <package id="git" />
    <package id="dotnetfx" />
    <package id="dotnetcore" />
    <package id="dotnetcore-sdk" />
    <package id="nodejs" />
    <package id="conemu" />
    <package id="vscode" />
    <package id="docker-desktop" />
    <package id="kubernetes-cli" />
    <package id="Minikube" />
    <package id="visualstudio2019professional" />
    <package id="visualstudio2019-workload-node" />
    <package id="visualstudio2019-workload-azure" />
    <package id="visualstudio2019-workload-webbuildtools" />
    <package id="visualstudio2019-workload-netweb" />
    <package id="visualstudio2019-workload-nativecrossplat" />
    <package id="office365business" />
    <package id="teamviewer" />
    <package id="adobereader" />
    <package id="microsoftazurestorageexplorer" />
    <package id="azure-data-studio" />
    <package id="azure-cli" />
    <package id="7zip" />
    <package id="git-fork" />
    <package id="openssh" />
    <package id="awscli" />
    <package id="cygwin" />
    <package id="greenshot" />
    <package id="python" />
    <package id="python2" />
    <package id="processhacker" />
    <package id="rdcman">
    <package id="resharper-ultimate-all">
</packages>